:root {
  --blue: #3381C2;
  --horizonal-space: 25px;
}

.background-img {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  opacity: 0.3;
  color: var(--blue);
}

.background-img__reverse {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  color: white;
}

